
:root {
    --out-border: solid black 5px;
    --teeth-border: solid black 3px;
    --b-grey: #a5c0d6;
    --b-grey-light: #cadbe5;
    --b-yellow: #fbf9bb;
}
#wrapper {
    border: solid 3px red;
    position: relative;
    height: 600px;
    width: 500px;
}
.antenna-top {
    width: 30px;
    height: 30px;
    background-color: var(--b-grey-light);
    position: absolute;
    top: 70px;
    left: 179px;
    z-index: 3;
    box-sizing: border-box;
    border: var(--out-border);
    border-radius: 50%;
}
.antenna-height {
    width: 24px;
    height: 90px;
    background-color: var(--b-grey); 
    position: absolute;
    left: 179px;
    top: 84px;
    border-radius: 70% 70% 90% 90% / 190% 190% 10% 10%;
    transform: rotateY(20deg) rotate(5deg);
    z-index: 2;
    box-sizing: border-box;
    border: var(--out-border);
}
.eyes-above {
    width: 133px;
    height: 25px;
    background-color: var(--b-grey);
    /* background-color: green; */
    position: absolute;
    left: 85px;
    top: 294px;
    z-index: 6;
    /* box-sizing: border-box; */
    border-bottom: var(--out-border);
    /* border-left: var(--out-border); */
    border-radius: 60% / 60%;
}
.eyes-hole {
    width: 170px;
    height: 70px;
    /* background-color: var(--b-grey); */
    background-color: black;
    position: absolute;
    left: 40px;
    top: 345px;
    z-index: 6;
    border-radius: 20% / 50%;
}
.eyes-top-space{
    width: 140px;
    height: 40px;
    top: 310px;
    left: 54px;
    background-color: var(--b-grey-light);
    position: absolute;
    border-radius: 90% / 500%;
    z-index: 2;
    transform: skewX(-50deg);
    border-top: var(--out-border);
    border-left: solid black 6px;
    z-index: 5;
}
.eyes-right-space {
    width: 200px;
    height: 90px;
    top: 330px;
    left: 30px;
    background-color: var(--b-grey-light);
    position: absolute;
    border-radius: 20% / 50%;
    border-bottom: var(--out-border);
    border-left: var(--out-border);
    z-index: 4;

}
.eyes-left-space {
    width: 50px;
    height: 104px;
    top: 308px;
    left: 180px;
    background-color: var(--b-grey-light);
    position: absolute;
    border-radius: 0px 20px 30px 0px;
    transform: rotate(-3deg);
    z-index: 5;
    border-right: var(--out-border);
    border-top: var(--out-border);
    
}
.eye-left {
    width: 75px;
    height: 60px;
    top: 350px;
    left: 70px;
    background-color: var(--b-yellow);
    position: absolute;
    border-radius: 35% / 50%;
    z-index: 7;
}
.eye-right {
    width: 75px;
    height: 60px;
    top: 350px;
    left: 130px;
    background-color: var(--b-yellow);
    position: absolute;
    border-radius: 35% / 50%;
    box-sizing: border-box;
    border-left: var(--out-border);
    z-index: 8;
}
.eye-pupil {
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    top: 26px;
    left: 40px;
    border-radius: 4px;
}
.eye-pupil-right {
    left: 47px;
}
.antenna-base {
    width: 50px;
    height: 20px;
    background-color: var(--b-grey-light);
    border: var(--out-border);
    position: absolute;
    top: 164px;
    left: 157px;
    z-index: 1;
    border-radius: 600px 600px 600px 600px / 450px 450px 100px 100px;
    transform: rotate(5deg);
    
}
.main {
    height: 270px;
    width: 180px;
    background-color: #a5c0d6;
    position: absolute;
    top: 180px;
    left: 80px;
    /* border-top: var(--out-border);
    border-left: var(--out-border);
    border-right: var(--out-border); */
    border: var(--out-border);
    border-radius: 100px 100px 10px 10px;
    border-bottom: none;
    z-index: 0;
   
}
.top-lip {
    box-sizing: border-box;
    height: 48px;
    width: 130px;
    background-color: var(--b-grey);
    position: absolute;
    bottom: 130px;
    left: 85px;
    /* transform: rotate(-20deg); */
    border-bottom: var(--out-border);
    /* border-left: var(--out-border); */
    border-radius: 50% / 40%;
    z-index: 3;

}

.left-cheek {
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: var(--b-grey);
    bottom: 70px;
    left: 210px;
    box-sizing: border-box;
    border-right: var(--out-border);
    z-index: 4;
}

.bottom-jaw {
    position: absolute;
    width: 170px;
    height: 50px;
    background-color: var(--b-grey);
    bottom: 50px;
    left: 100px;
    box-sizing: border-box;
    border-radius: 95px / 20px;
    border: var(--out-border);
    z-index: -1;
}

.mid-teeth {
    width: 100px;
    height: 75px;
    background-color: var(--b-yellow);
    position: absolute;
    bottom: 75px;
    left: 110px;
    border-radius: 100px / 20px;
    border: var(--out-border);
}

.side-teeth {
    width: 40px;
    height: 64px;
    background-color: var(--b-yellow);
    position: absolute;
    bottom: 81px;
    left: 200px;
    z-index: 5;
    box-sizing: border-box;
    border: var(--out-border);
    border-radius: 0 110px 100px 0;
    transform:skewY(-10deg);
    border-left: none;
}
.teeth-h {
    border: var(--teeth-border);
    border-color: transparent transparent black transparent;
    width: 140px;
    height: 100px;
    position: absolute;
    border-radius: 0 0 100px 100px / 30px;
    transform: rotate(-4deg);
    z-index: 5;
}
.teeth-h1 {
    bottom: 115px;
    left: 96px;
}
.teeth-h2 {
    bottom: 87px;
    left: 96px;
}
.teeth-v {  
    border: black solid 2px;
    position: absolute;
    z-index: 5;
}
.teeth-v1 {
    height: 49px;
    bottom: 78px;
    left: 140px;
}
.teeth-v2 {
    height: 50px;
    bottom: 78px;
    left: 175px;
}
.teeth-v3 {
    height: 50px;
    bottom: 84px;
    left: 205px;
}