
:root {
    --out-border: solid black 5px;
    --b-grey: #a5c0d6;
    --b-grey-light: #cadbe5;
    --b-yellow: #fbf9bb;
}
#wrapper {
    border: solid 3px red;
    position: relative;
    height: 600px;
    width: 500px;
}
.main {
    height: 270px;
    width: 180px;
    background-color: #a5c0d6;
    position: absolute;
    top: 180px;
    left: 80px;
    /* border-top: var(--out-border);
    border-left: var(--out-border);
    border-right: var(--out-border); */
    border: var(--out-border);
    border-radius: 100px 100px 10px 10px;
    border-bottom: none;
    z-index: 0;
   
}
.top-lip {
    box-sizing: border-box;
    height: 48px;
    width: 130px;
    background-color: var(--b-grey);
    position: absolute;
    bottom: 130px;
    left: 85px;
    /* transform: rotate(-20deg); */
    border-bottom: var(--out-border);
    /* border-left: var(--out-border); */
    border-radius: 50% / 40%;
    z-index: 3;

}

.left-cheek {
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: var(--b-grey);
    bottom: 70px;
    left: 210px;
    box-sizing: border-box;
    border-right: var(--out-border);
    z-index: 4;
}

.bottom-jaw {
    position: absolute;
    width: 170px;
    height: 50px;
    background-color: var(--b-grey);
    bottom: 50px;
    left: 100px;
    box-sizing: border-box;
    border-radius: 95px / 20px;
    border: var(--out-border);
    z-index: -1;
}

.mid-teeth {
    width: 100px;
    height: 75px;
    background-color: var(--b-yellow);
    position: absolute;
    bottom: 75px;
    left: 110px;
    border-radius: 100px / 20px;
    border: var(--out-border);
}

.side-teeth {
    width: 40px;
    height: 60px;
    background-color: red;
    position: absolute;
    bottom: 80px;
    left: 200px;
    z-index: 5;
    box-sizing: border-box;
    border-radius: 0 50% 50% 0;
    transform:skewY(-5deg)
}